<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Title }} • {{ .Site.Params.Description }}{{ else }}{{ index .Params "html-title" | default .Page.Title }} • {{ .Site.Title }}{{ end }}</title>
<link rel="preload" as="image" href="{{ "/icons.svg" | absURL }}">
<style type="text/css">{{ (resources.Get "css/critical.css" | resources.ExecuteAsTemplate "critical.css" . | resources.Minify).Content | safeCSS }}</style>
<link rel="apple-touch-icon" sizes="180x180" href="https://thom4.net/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://thom4.net/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://thom4.net/assets/favicon-16x16.png">
<link rel="shortcut icon" href="https://thom4.net/assets/favicon.ico">
{{- $Weeknotes := .Site.GetPage "weeknotes" -}}
{{- with $Weeknotes.AlternativeOutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s • %s" />` .Rel .MediaType.Type .Permalink $.Site.Title $Weeknotes.Title | safeHTML }}
{{ end -}}
{{- with $Weeknotes.AlternativeOutputFormats.Get "opml" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s • %s" />` .Rel .MediaType.Type .Permalink $.Site.Title $Weeknotes.Title | safeHTML }}
{{ end -}}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
{{- partial "github.html" -}}
{{- partial "mastodon.html" -}}
