<header>
  <div class="site-brand">
    <h1 class="site-title" aria-label="{{ .Site.Title | safeHTMLAttr }}">
      {{ if .IsHome }}
      détour<span class="url-part">.</span><wbr>studio
      {{ else }}
      <a href="{{ .Site.BaseURL }}" rel="home">
        détour<span class="url-part">.</span><wbr>studio
      </a>
      {{ end }}
    </h1>

    <p class="subheading">
      <img src="https://thom4.net/assets/avatar.avif" class="avatar" alt="">
      par <a href="https://thom4.net" target="_blank" rel="me">Thomas Parisot</a>
      <small aria-label="Pronoms : {{ .Site.Params.pronouns | safeHTMLAttr }}">({{ .Site.Params.pronouns }})</small>
    </p>
  </div>

  <nav class="menu menu--main">
    <ul class="inline-list">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" {{ if or ($currentPage.IsMenuCurrent "main" .) (eq .Params.section $currentPage.Section) }}aria-current="page"{{end}} aria-label="{{ .Name | safeHTMLAttr }}"{{ with .Page }} title="{{ .Title | safeHTMLAttr }}"{{ end }}>
          {{ .Pre }}

          {{ with .Params.icon }}{{- partial "icon.html" . -}}{{ end }}<span>{{ .Name }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ if .IsHome }}
  <blockquote class="site-description preamble measure-wide">
    <p>{{ .Site.Params.Description }}</p>
  </blockquote>
  {{ end }}
</header>
