<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Title }} • {{ .Site.Params.Description }}{{ else }}{{ .Page.Title }} • {{ .Site.Title }}{{ end }}</title>
<link rel="preload" as="image" href="{{ "/icons.svg" | absURL }}">
<style type="text/css">{{ (resources.Get "css/critical.css" | resources.ExecuteAsTemplate "critical.css" . | resources.Minify).Content | safeCSS }}</style>
<link rel="apple-touch-icon" sizes="180x180" href="https://oncletom.io/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://oncletom.io/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://oncletom.io/assets/favicon-16x16.png">
<link rel="shortcut icon" href="https://oncletom.io/assets/favicon.ico">
<link rel="me" href="https://masto.oncletom.io/@thomas" type="text/html">
<link rel="me" href="https://twitter.com/oncletom" type="text/html">
<link rel="me" href="https://github.com/oncletom" type="text/html">
<link rel="me" href="https://oncletom.io" type="text/html">
{{ $Weeknotes := .Site.GetPage "weeknotes" }}
{{ with $Weeknotes.AlternativeOutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s • %s" />` .Rel .MediaType.Type .Permalink $.Site.Title $Weeknotes.Title | safeHTML }}
{{ end -}}
{{ with $Weeknotes.AlternativeOutputFormats.Get "opml" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s • %s" />` .Rel .MediaType.Type .Permalink $.Site.Title $Weeknotes.Title | safeHTML }}
{{ end -}}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
