{{ $Icon := (index $.Site.Params.works .Params.type).icon }}
{{ $RelatedWeeknotes := ((where $.Site.Pages "Type" "weeknotes").Related .) | len }}
<article class="work work--highlighted card" aria-labelledby="highlight-{{ .RelPermalink | anchorize }}-title" aria-describedby="highlight-{{ .RelPermalink | anchorize }}-description">
  <h3 class="work-name" aria-level="2" id="highlight-{{ .RelPermalink | anchorize }}-title">
    {{ if or .Params.external $RelatedWeeknotes }}
    <a {{ with .Params.external }} href="{{ .link }}" {{ with .lang }}lang="{{.}}"{{ end }} rel="external noopener noreferrer" target="_blank"{{ end }}{{ if not .Params.external }}href="{{ .Permalink }}" rel="permalink"{{ end }}>
      {{ .Title }}
    </a>
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h3>

  {{ if .Description }}
    <div id="highlight-{{ .RelPermalink | anchorize }}-description">
      <strong>Objectifs et enjeux</strong><br>
      {{ .Description | markdownify }}
    </div>
  {{ end }}

  <p>
    <a href="{{ .Permalink }}" rel="permalink" aria-label="En savoir plus sur le projet {{ .Title | safeHTML }}">
      {{- partial "icon.html" "more" -}}
      En savoir plus
    </a>
  </p>
</article>
