baseURL = "https://xn--dtour-bsa.studio/"
defaultContentLanguage = "fr"
languageCode = "fr-FR"
title = "détour.studio"
timeZone = "Europe/Paris"

theme = "detour"
sectionPagesMenu = "works"
buildFuture = true
rssLimit = 10
cleanDestinationDir = true
disableKinds = ["taxonomy"]
ignoreErrors = ["error-disable-taxonomy"]

[social]
  twitter = "thom4parisot"
  github = "https://github.com/thom4parisot"
  mastodon = "https://diaspodon.fr/@thom4"
  website = "https://thom4.net"

[params]
  description = "Développement de services numériques en mode pas à pas — on fait équipe, on s'adapte, on s'écoute. Le produit fini est souvent un logiciel libre, au service des coopératives, de la biodiversité et des connaissances."
  pronouns = "il / lui"

[related]
  includeNewer = true
  toLower = true
[[related.indices]]
  name = "keywords"
  weight = 100
[[related.indices]]
  name = "for"
  weight = 50

[permalinks]
  works = "/works/:filename"

[outputFormats]
  [outputFormats.opml]
    basename = "collection"
    mediaType = "application/xml"

[markup]
  [markup.tableOfContents]
    startLevel = 3

  [markup.goldmark]
    [markup.goldmark.parser.attribute]
      block = true
    [markup.goldmark.renderer]
      unsafe = true
      attribute = true

[menu]
  [[menu.main]]
    name = "Projets"
    url = "/#développement-web"
    weight = 40
    params = { icon = "love", section = "works" }

[taxonomies]
  category = "categories"
  stack = "stack"
