{{ define "main" }}
{{ $Category := $.Site.GetPage (printf "/%s/%s" "categories" (index .Params.categories 0 | anchorize)) }}
<article class="work" data-type="{{ .Section }}" aria-labelledby="readout" itemscope itemtype="https://schema.org/Project">
  {{ template "_internal/schema.html" . }}

  <h1 id="readout" aria-label="Projet {{ .Title | safeHTMLAttr }}">
    {{- partial "icon.html" ($Category.Params.icon |  default "journal") -}}
    {{ .Title }}
  </h1>

  {{ with .Params.for }}<p class="customer-name">{{ . | safeHTML }}</p>{{ end }}

  <div class="measure-wide{{ with .Params.extraClass }} {{ . }}{{ end }}" aria-labelledby="focus">
    <h3 id="focus" aria-level="2">Objectifs et enjeux</h3>
    <p>{{ .Description | markdownify }}</p>
  </div>

  {{ with .Resources.GetMatch "screenshot.{jpg,jpeg,png}" }}
    <picture class="screenshot markdown-image">
      <img src="{{ ((.Resize "1440x").Crop "1440x900 TopLeft").RelPermalink }}" width="896" alt="" type="{{ .MediaType }}">
    </picture>
  {{ end }}


  {{ with .Params.resources }}
  <div class="measure-wide" aria-labelledby="resources">
    <h3 id="resources" aria-level="2">Ressources complémentaires</h3>
    <ul class="inline-list" aria-labelledby="resources">
      {{ range $URL,$Label := . }}
        <li>
          <a href="{{ $URL }}" target="_blank" rel="external noopener noreferrer">
            {{ $Label }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with (union .Params.with .Params.via | uniq)}}
  <div class="measure-wide" aria-labelledby="team">
    <h3 id="team" aria-level="2">On fait équipe avec</h3>
    <ul class="inline-list with-brackets" aria-labelledby="team">
      {{ range . }}<li>{{ . }}</li>{{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with .Content }}
  <section class="measure-wide" aria-labelledby="presentation">
    <h3 id="presentation" aria-level="2">Présentation</h3>
    <div class="markdown-content">{{ . }}</div>
  </section>
  {{ end }}

  {{ with .Params.stack }}
  <section class="measure-wide" aria-labelledby="technical-stack">
    <h3 id="technical-stack" aria-level="2">Éléments techniques</h3>

    <ul class="inline-list with-brackets">
      {{ range . }}<li>{{ . }}</li>{{ end }}
    </ul>
  </section>
  {{ end }}

  {{ with (sort ((where .Site.Pages "Type" "weeknotes").Related .)  "Date" "desc") }}
  <nav aria-labelledby="weeknotes" aria-describedby="weeknotes-description">
    <h3 id="weeknotes" aria-level="2">Notes hebdomadaires associées</h3>

    <p id="weeknotes-description">Projet évoqué dans {{ . | len }} notes.</p>

    <ul class="grid mini-cards" aria-labelledby="weeknotes">
    {{ range . }}
      <li class="mini-cards__item">
        <a class="mini-cards__title" href="{{ .RelPermalink }}#readout">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700"}}">{{ .Date.Format "Jan _2, 2006" }}</time>
      </li>
    {{ end }}
    </ul>
  </nav>
  {{ end }}
</article>

{{ end }}
