{{ define "main" }}
{{ $Category := $.Site.GetPage (printf "/%s/%s" "categories" (index .Params.categories 0 | anchorize)) }}
<article class="work" data-type="{{ .Section }}" aria-labelledby="readout">
  <header>
    {{ with .Params.for }}<p class="customer-name">{{ . }}</p>{{ end }}
    <h2 id="readout">{{- partial "icon.html" ($Category.Params.icon |  default "journal") -}}{{ .Title }}</h2>

    <div class="measure-wide{{ with .Params.extraClass }} {{ . }}{{ end }}" aria-labelledby="focus">
      <h3 id="focus">Objectifs et enjeux</h3>
      <p>{{ .Description | markdownify }}</p>
    </div>

    {{ with .Resources.GetMatch "screenshot.{jpg,jpeg,png}" }}
      <picture class="screenshot markdown-image">
        <img src="{{ ((.Resize "1440x").Crop "1440x900 TopLeft").RelPermalink }}" width="896" alt="" type="{{ .MediaType }}">
      </picture>
    {{ end }}
  </header>


  {{ with .Params.resources }}
  <div class="measure-wide" aria-labelledby="resources">
    <h3 id="resources">Ressources complémentaires</h3>
    <ul class="inline-list">
      {{ range $URL,$Label := . }}
        <li>
          <a href="{{ $URL }}" target="_blank" rel="external noopener noreferrer">
            {{ $Label }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with (union .Params.with .Params.via | uniq)}}
  <div class="measure-wide" aria-labelledby="team">
    <h3 id="team">On fait équipe avec</h3>
    <ul class="inline-list with-brackets">
      {{ range . }}<li>{{ . }}</li>{{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with .Content }}
  <section class="measure-wide" aria-labelledby="presentation">
    <h3 id="presentation">Présentation</h3>
    <div class="markdown-content">{{ . }}</div>
  </section>
  {{ end }}

  {{ with .Params.stack }}
  <section class="measure-wide" aria-labelledby="technical-stack">
    <h3 id="technical-stack">Éléments techniques</h3>

    <ul class="inline-list with-brackets">
      {{ range . }}<li>{{ . }}</li>{{ end }}
    </ul>
  </section>
  {{ end }}

  {{ with (sort ((where .Site.Pages "Type" "weeknotes").Related .)  "Date" "desc") }}
  <section aria-labelledby="weeknotes">
    <h3 id="weeknotes">Projet évoqué dans {{ . | len }} notes</h3>
    <ul class="grid mini-cards">
    {{ range . }}
      <li class="mini-cards__item">
        <a class="mini-cards__title" href="{{ .RelPermalink }}#readout">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700"}}">{{ .Date.Format "Jan _2, 2006" }}</time>
      </li>
    {{ end }}
    </ul>
  </section>
  {{ end }}
</article>

{{ end }}
