{{ define "main" }}

  {{ .Content }}

  {{ $Weeknotes := where (.Site.RegularPages) "Section" "weeknotes" }}
  {{ $WorksByType := (where (.Site.RegularPages) "Section" "works").GroupBy "Type" }}

  <section id="weeknotes" aria-label="Weeknotes">
    <h2>Weeknotes</h2>

    <ul class="list--by-date">
    {{ range $Weeknotes.ByDate.Reverse }}
      <li>
          <a href="{{.Permalink}}">{{.Title}} (<time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700"}}">{{ .Date.Format "2/01/2006" }}</time>)</a>
      </li>
    {{ end }}
    </ul>
  </section>


  {{ range $.Site.Params.works.order }}
    {{ $Type := . }}
    {{ $Config := index $.Site.Params.works $Type }}
    {{ $Works := (index (where $WorksByType ".Key" $Type) 0).Pages.ByDate.Reverse }}
    <section aria-label="{{ $Type | safeHTMLAttr }}">
      <h2>
        {{- with $Config.icon }}<span class="icon icon--emoji" aria-hidden="true">{{ . }}</span>{{ end -}}
        {{ $Type | title -}}
      </h2>

        {{ with $Config.description }}
        <p class="preamble">{{ . }}</p>
        {{ end }}

        {{ range $Works }}
        <article class="work">
            <h3>{{ .Title }}</h3>
            {{ with .Params.for }}<p class="customer-name">{{ . }}</p>{{ end }}
            {{ with .Params.with }}<p class="with">Avec {{ delimit . ", " ", et " }}.</p>{{ end }}
        </article>
        {{ end }}
    </section>
  {{ end }}

{{ end }}
