{{ define "main" }}

  {{ .Content }}

  {{ $WeeknotesPage := .Site.GetPage "weeknotes" }}
  {{ $Weeknotes := where (.Site.RegularPages) "Section" "weeknotes" | union (where (.Site.RegularPages) "Section" "yearnotes") }}
  {{ $WorksByType := (where (.Site.RegularPages) "Section" "works").GroupBy "Type" }}
  {{ $CurrentWorks := (where (.Site.RegularPages) "Section" "works") | intersect (where (.Site.RegularPages) "Params.status" "ongoing") }}

  {{ with $CurrentWorks }}
  <section aria-labelledby="ongoing-works">
    <h2 id="ongoing-works">{{- partial "icon.html" "detour" -}}Mes projets du moment</h2>

    <p class="subtitle">
      Je prends plaisir à y mettre mon énergie et à naviguer dans leur complexité.
    </p>

    <div class="grid">
    {{ range (sort $CurrentWorks ".Params.type" "desc") }}
    {{ $Icon := (index $.Site.Params.works .Params.type).icon }}
    {{ $RelatedWeeknotes := ((where $.Site.Pages "Type" "weeknotes").Related .) | len }}
      <article class="work work--highlighted card">
        <h3 class="work-name">
          {{ if or .Params.external $RelatedWeeknotes }}
          <a {{ with .Params.external }} href="{{ .link }}" {{ with .lang }}lang="{{.}}"{{ end }} rel="external noopener noreferrer" target="_blank"{{ end }}{{ if not .Params.external }}href="{{ .Permalink }}" rel="permalink"{{ end }}>
            {{ .Title }}
          </a>
          {{ else }}
            {{ .Title }}
          {{ end }}
        </h3>
        {{ with .Params.with }}<p class="with">Avec {{ delimit . ", " ", et " }}.</p>{{ end }}
        {{ with .Description }}
          <div class="summary description measure">
            <strong style="float:left">Impact recherché</strong><br>
            {{ . | markdownify }}
          </div>
        {{ end }}
      </article>
    {{ end }}
    </div>
  {{ end }}

  {{ with $WeeknotesPage }}
  <section aria-labelledby="weeknotes">
    <h2 aria-label="Weeknotes" id="weeknotes">
      {{- partial "icon.html" "journal" -}}{{- .Title -}}

      <span class="smaller suffix">
        <a href="{{ ($WeeknotesPage.AlternativeOutputFormats.Get "rss").Permalink }}" rel="alternate" type="text/xml">
          {{- partial "icon.html" "rss" -}}fil RSS
        </a>
      </span>
    </h2>

    {{ with .Summary }}
    <p class="subtitle">{{ . }}</p>
    {{ end }}

    <div class="overflow-y" id="weeknotes-list">
      <ol class="list--by-date">
      {{ range $Weeknotes.ByDate.Reverse }}
        <li>
            <a href="{{.Permalink}}#readout">{{.Title}}</a>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700"}}">{{ .Date.Format "Jan _2, 2006" }}</time>
        </li>
      {{ end }}
      </ol>
    </div>

    <p class="overflow-y__button">
      <a href="#weeknotes-list">
        {{- partial "icon.html" "more" -}}Déplier la liste des {{ $Weeknotes | len }} notes
      </a>
    </p>
  </section>
  {{ end }}

  {{ $Categories := $.Site.GetPage (printf "/%s" "categories") }}
  {{ range $Page := $Categories.Pages.ByWeight }}
    <section aria-labelledby="{{ .Section | anchorize }}">
      {{ partial "categories/header.html" $Page }}

        {{ $NotArchidedPages := where .Pages.ByDate.Reverse "Params.archived" "ne" true }}
        {{ range $NotArchidedPages }}
          {{ partial "works/article.html" . }}
        {{ end }}

        {{ if gt (.Pages | len) ($NotArchidedPages | len) }}
        <p>
          <a href="{{ $Page.Permalink }}" rel="permalink">
            Découvrir les {{ sub (.Pages | len) ($NotArchidedPages | len) }} projets archivés.
          </a>
        </p>
        {{ end }}
    </section>
  {{ end }}

{{ end }}
