{{ define "main" }}

<article data-type="weeknote" aria-label="{{ .Title | safeHTMLAttr }}" id="readout">
  <h2>{{- partial "icon.html" "journal" -}}{{ .Title }}</h2>

  <p class="subtitle">
    Le {{ .Date.Format "02/01/2006" }}
    {{- with .Params.written_in }}, à {{ . }}{{ end -}}.
    {{ with .CurrentSection.AlternativeOutputFormats.Get "rss" -}}
      <a href="{{ .Permalink }}" rel="alternate" type="text/xml">
        {{- partial "icon.html" "rss" -}}S'abonner via RSS</a>.
    {{- end -}}
  </p>

  {{/* partial "toc.html" . */}}

  <div class="content measure-wide">{{ .Content }}</div>

  <aside>
    {{ with .Params.network }}
    <article aria-label="Les weeknotes de la semaine chez les ami·es">
      <h2>
        {{- partial "icon.html" "network" -}}
        {{- "Ailleurs, au même moment…" -}}
      </h2>

      <ul class="words-list">
      {{ range $url, $name := . }}
      <li><a href="{{ $url }}" target="_blank">Chez {{ $name }}</a></li>
      {{ end }}
      </ul>
    </article>
    {{ end }}

    {{ with $.Page.PrevInSection }}
    <hr>

    <p aria-label="Naviguer vers les notes précédentes">
      {{- partial "icon.html" "success" -}}
      Tu es arrivé·e à la fin de <mark>{{ $.Page.Title }}</mark>, merci de les avoir lu jusque là !<br>
      Si ça te dit, voici de quoi lire les précédentes weeknotes :
      <a href="{{ .Permalink }}" class="strong" rel="permalink" title="{{ .Title }}">{{ .Title }}</a>.
    </p>
    {{ end }}
  </aside>
</article>

{{ end }}
