{{ define "main" }}

<article data-type="weeknote" aria-label="{{ .Title | safeHTMLAttr }}">
  <h2>{{ .Title }}</h2>

  <p class="subtitle">
    Le {{ .Date.Format "02/01/2006" }}
    {{- with .Params.written_in }}, à {{ . }}{{ end -}}.
    {{ with .CurrentSection.AlternativeOutputFormats.Get "rss" }}<a href="{{ .Permalink }}" rel="alternate" type="text/xml">S'abonner via RSS</a>.{{ end }}
  </p>

  {{/* partial "toc.html" . */}}

  <div class="content measure-wide">{{ .Content }}</div>

  {{ with .Params.network }}
  <aside>
    <h2>
      <span class="icon icon--emoji" aria-hidden="true">🕸</span>
      {{- "Ailleurs, au même moment…" -}}
    </h2>

    <ul class="words-list">
    {{ range $url, $name := . }}
    <li><a href="{{ $url }}" target="_blank">Chez {{ $name }}</a></li>
    {{ end }}
    </ul>

    {{ with $.Page.PrevInSection }}
    <h2>
      <span class="icon icon--emoji" aria-hidden="true">⏮</span>Précédemment&nbsp:
        <a href="{{ .Permalink }}" rel="permalink">
          {{- .Title -}}
        </a>
    </h2>
    {{ end }}
  </aside>
  {{ end }}
</article>

{{ end }}
