:root {
  --background-color: #f6f1e7;
  --text-color: #4f5200;
  --text-muted-color: hsla(44, 38%, 21%, 0.502);
  --link-color: #0000e0;
  --visited-link-color: #0000B5;
  --brand-color: #4f5200;
  --brand-alternative-color: hsl(39, 45%, 84%);
  --mid-gray: hsl(216, 21%, 41%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 18px/1.3 monospace;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 21px;
    padding: 2em 5em;
  }
}

body > header {
  margin-bottom: 3em;
}
body > footer {
  font-size: .8em;
  margin-top: 3rem;
}

  body > footer a {
    border: 1px solid transparent;
    border-radius: 10px;
    line-height: 2;
    padding: .3em .5em;
  }
  body > footer a:hover,
  body > footer a:focus {
    border-color: var(--brand-alternative-color);
    /* background: white; */
  }

hr {
  border: none;
  margin: 3rem 0;
}

hr,
body > footer:before {
  content: "";
  border-bottom: 4px solid var(--brand-alternative-color);
  display: block;
  width: 460px;
  max-width: 66vw;
}

h2 {
  color: var(--brand-color);
}

section:not(:last-child),
article > header:first-child,
article.weeknote,
article.weeknote ~ :is(nav, aside) {
  margin-bottom: 3em;
}

img {
  box-sizing: border-box;
  max-width: 100%;
}

h1 {
  margin: .8em 0 .5em;
}

h2 {
  margin: .9em 0 .5em;
}

h3 {
  margin: 1em 0 .3em;
}

p {
  margin: 1em 0;
}
  p:last-child{
    margin-bottom: 0;
  }

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1em 0;
}

@media (min-width: 768px) {
  dd {
    margin-left: 1.25em;
  }
}

a {
  color: var(--link-color);
}
  a:visited {
    color: var(--visited-link-color);
  }

a:hover,
a:active {
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

ul {
  list-style-position: inside;
  margin: .5em 0;
  padding: 0;
}
  p + ul {
    margin-top: -0.5em;
  }

  ul li,
  ol li {
    margin-bottom: .3em;
  }
  [data-type="weeknote"] ul li,
  [data-type="weeknote"] ol li {
    margin-bottom: 1em;  /* same as dd */
  }

  .words-list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
    .words-list a {
      border: 1px solid var(--brand-alternative-color);
      border-radius: .2em;
      margin-right: 1em;
      padding: .5em;
    }

.url-part {
  color: var(--brand-alternative-color);
}

.overflow-y {
  height: 14em;
  overflow-y: hidden;
  position: relative;
  transition: height 1s;
}
  .overflow-y::after {
    bottom: 0;
    content: "";
    background: linear-gradient(transparent, var(--background-color));
    display: block;
    position: absolute;
    height: 5em;
    width: 100%;
    z-index: 10;
  }
  .overflow-y:target::after {
    display: none;
  }

.overflow-y:target {
  height: auto;
  background: transparent;
}
.overflow-y:target + .overflow-y__button {
  display: none;
}

.suffix:before {
  content: "—";
  color: var(--brand-alternative-color);
  padding-left: .5em;
  padding-right: .5em;
}
.suffix, .suffix a {
  color: var(--brand-alternative-color);
}
.smaller {
  font-size: .75em;
}
.smaller.suffix {
  color: var(--brand-color);
}

.grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 30% 30% 30%;
    max-width: 2280px;
  }
}

#TableOfContents:empty,
.markdown-content:empty{
  display: none;
}

.markdown-image {
  margin: 1.5em 0;
}
  .markdown-image > img {
    border: 1em solid var(--brand-alternative-color);
  }
  .markdown-image > figcaption {
    color: var(--brand-color);
    font-weight: bold;
    margin-left: 1em;
  }

.measure-wide {   max-width: 38em; }
.measure {        max-width: 30em; }
.measure-narrow { max-width: 20em; }

.icon {}
  .icon--vector {
    fill: currentColor;
    margin-right: .35em;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
  }

.list--by-date {
  list-style-type: none;
  padding-left: 0;
}
  @media screen and (min-width: 768px) {
    /* Display as two columns on non-smartphone-portrait */
    .list--by-date {
      columns: auto 2;
    }
  }

  .list--by-date time {
    color: var(--text-muted-color);
    font-size: 0.8em;
  }
  .list--by-date > li {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 992px) {
    .list--by-date > li {
      align-content: space-between;
      flex-direction: row;
      width: 400px;
    }
    .list--by-date a {
      flex: 0;
      white-space: nowrap;
    }
    .list--by-date time {
      flex: 1;
      font-size: unset;
      text-align: right;
    }
  }

.inline-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
  align-items: baseline;
}
  .inline-list > li {
    margin: 0;
    white-space: nowrap;
  }

  .with-brackets li::before {
    color: var(--text-muted-color);
    content: "[";
    margin-left: -.2em;
  }
  .with-brackets li::after {
    color: var(--text-muted-color);
    content: "]";
  }


/**
 * Main menu
 */
body > header {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
  .menu--main {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  @media screen and (min-width: 768px) {
    body > header {
      display: flex;
      flex-direction: column;
    }
  }
.menu--main [aria-current="page"] {
  font-weight: bold;
}
.menu--main .inline-list  {
  gap: .5em;
}
.menu--main .inline-list li {
  padding: .5em 0;
}
.menu--main a,
#TableOfContents {
  background-color: var(--brand-alternative-color);
  border-radius: 5px;
  padding: .5em;
  text-decoration: none !important;
}
  .menu--main a:hover,
  .menu--main a:focus {
    background-color: #e1d1af;
    color: #3f4100;
  }

.site-title {
  margin: 0;
}

.site-title + .subheading {
  font-size: .8em;
  font-weight: bold;
  padding: .25em 0;
  margin-top: 0;
}

.site-title + .subheading small {
  white-space: nowrap;
}

.site-description {
  margin: 0;
}

#TableOfContents {
  padding: .5em 1em;
}
  #TableOfContents ul li {
    margin-bottom: .5em;
  }
  @media screen and (min-width: 992px) {
    #TableOfContents {
      float: right;
      font-size: .9em;
      margin-left: 1em;
      position: sticky;
      top: 1em;
    }
  }

  #TableOfContents a {
    color: var(--text-color);
  }

.avatar {
  border: none;
  border-radius: 50%;
  max-width: 24px;
  vertical-align: middle;
}

.dotted-dl dt:after {
  content: "…";
}
.dotted-dl dd:before {
  content: "… ";
}
.dotted-dl dd:after {
  content: " ;";
}

/**
 * Cards + Grids
 */
.grid.mini-cards {
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}
  .mini-cards__item {
    background: rgba(250,250,250,.6);
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
  }
    .mini-cards a.mini-cards__title::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0; bottom: 0;
      left: 0; right: 0;

      border: 3px solid var(--brand-alternative-color);
      border-radius: 2px;
    }


/**
 * Body of Work
 */
.work {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
  .work.work--highlighted {
    background: rgba(250, 250, 250, .6);
    background-image: url("data:image/svg+xml;charset=utf-8;base64,{{ (resources.Get "projects.svg").Content | base64Encode }}");
    border: 3px solid var(--brand-alternative-color);
    border-radius: 2px;
    padding: 2em;
    margin: 0;
  }
    .work.work--highlighted summary {
      font-size: unset;
      margin-bottom: calc(1.17em * 0.3); /* as above headline */
      color: var(--link-color);
    }
    .work.work--highlighted summary::marker {
      content: "👀 ";
      transform: rotateY(0.5turn);
    }
  .work .work-name a,
  body > header a:link,
  body > header a:visited {
    color: var(--text-color);
    text-decoration-color: var(--brand-alternative-color);
    text-decoration-thickness: 5px;
  }
  a[rel~="external"] {
    padding-right: 10px;
  }
  a[rel~="external"]:after {
    content: "";
    display: inline-block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNzY4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02NDAgNzY4SDEyOFYyNTcuOTA1OTk5OTk5OTk5OTVMMjU2IDI1NlYxMjhIMHY3NjhoNzY4VjU3Nkg2NDBWNzY4ek0zODQgMTI4bDEyOCAxMjhMMzIwIDQ0OGwxMjggMTI4IDE5Mi0xOTIgMTI4IDEyOFYxMjhIMzg0eiIvPjwvc3ZnPg==);
    background-size: cover;
    position: absolute;
    opacity: .6;
    margin-left: 5px;
    height: 12px;
    width: 10px;
  }
  .work summary {
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: underline;
    text-decoration-color: var(--brand-alternative-color);
    vertical-align: middle;
  }
  .work .customer-name,
  ul.metadata {
    color: var(--mid-gray);
    margin: 0 0 .2em;
  }
  p.customer-name + h2,
  p.customer-name + h3,
  p.customer-name + h4 {
    margin-top: 0;
  }

  h3 + ul.metadata,
  h4 + ul.metadata {
    font-size: .7em;
    margin-top: -1.5em;
  }

  .work .customer-name,
  .work:not(.work--highlighted) .with,
  h2 + .subtitle,
  .preamble {
    font-size: .8em;
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    .preamble {
      font-size: 1.145em;
    }
  }

  p.customer-name {
    color: var(--mid-gray);
    font-size: .8em;
    margin: 1em 0 0;
  }

  h2 + p.customer-name,
  h3 + p.customer-name {
    margin-top: 0;
  }

  .work.with-status .summary:before {
    border-radius: .2em;
    float: left;
    margin-right: .5em;
    padding: 0 .5em;
  }
  .work.ongoing .summary:before {
    background: hsl(124, 96%, 25%);
    content: "En cours";
    color: hsl(124, 100%, 89%);
  }
  .work.upcoming,
  .work.cancelled,
  .work.paused {
    color: var(--text-muted-color);
  }
  .work.upcoming .summary:before {
    background: var(--text-muted-color);
    content: "Bientôt";
    color: var(--background-color);
  }
  .work.paused .summary:before {
    background: var(--brand-alternative-color);
    color: var(--text-muted-color);
    content: "En pause";
  }
  .work.cancelled .summary:before {
    background: hsl(213, 16%, 89%);
    color: var(--mid-gray);
    content: "Annulé";
  }
  .work.done .summary:before {
    color: hsl(124, 96%, 25%);
    background: hsl(124, 100%, 89%);
    content: "Terminé";
  }

  .work-name {
    margin-top: .1em;
    position: relative;
  }
    .work:not(.card) .work-name:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: -1em;
      border-left: 3px solid var(--brand-alternative-color);
    }

  .work .summary {
    font-size: .8em;
    margin-top: -.2em;
  }
.key-value {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 1em;
}
.key-value dt {
}
  .key-value dt:not(.key--only)::after {
    content: ":";
    padding: 0 .2em;
  }
.key-value dd {
  margin: 0;
}
  .key-value dd:not(.key--only):not(:last-child)::after {
    content: "•";
    padding-right: .4em;
  }
.key-value .key--only {
  flex: 1 0 100%;
}
