:root {
  --background-color: #f6f1e7;
  --text-color: #4f5200;
  --text-muted-color: rgb(75, 64, 34, .5);
  --link-color: #0000e0;
  --visited-link-color: #0000B5;
  --brand-color: #4f5200;
  --brand-alternative-color: #e8dbc2;
  --mid-gray: #5F7084;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 18px/1.3 monospace;
  margin: 0;
  padding: 1em;
}
@media screen and (min-width: 480px) {
  body {
    font-size: 21px;
    padding: 2em 5em;
  }
}

body > header {
  margin-bottom: 3em;
}
body > footer {
  font-size: .8em;
  margin-top: 3rem;
}

  body > footer a {
    border: 1px solid transparent;
    border-radius: 10px;
    line-height: 2;
    padding: .3em .5em;
  }
  body > footer a:hover,
  body > footer a:focus {
    border-color: var(--brand-alternative-color);
    /* background: white; */
  }

hr {
  border: none;
  margin: 3rem 0;
}

hr,
body > footer:before {
  content: "";
  border-bottom: 4px solid var(--brand-alternative-color);
  display: block;
  width: 460px;
  max-width: 66vw;
}

h2 {
  color: var(--brand-color);
}

section {
  margin-bottom: 3em;
}

img {
  box-sizing: border-box;
  max-width: 100%;
}

h1 {
  margin: .8em 0 .5em;
}

h2 {
  margin: .9em 0 .5em;
}

h3 {
  margin: 1em 0 .3em;
}

p {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1em 0;
}

@media (min-width: 480px) {
  dd {
    margin-left: 1.25em;
  }
}

a {
  color: var(--link-color);
}
  a:visited {
    color: var(--visited-link-color);
  }

a:hover,
a:active {
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

ul {
  list-style-position: inside;
  margin: .5em 0;
  padding: 0;
}
  p + ul {
    margin-top: -0.5em;
  }

  ul li,
  ol li {
    margin-bottom: .3em;
  }
  [data-type="weeknote"] ul li,
  [data-type="weeknote"] ol li {
    margin-bottom: 1em;  /* same as dd */
  }

  .words-list {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
    .words-list a {
      border: 1px solid var(--brand-alternative-color);
      border-radius: .2em;
      margin-right: 1em;
      padding: .5em;
    }

.url-part {
  color: var(--brand-alternative-color);
}

.overflow-y {
  height: 14em;
  overflow-y: hidden;
  position: relative;
  transition: height 1s;
}
  .overflow-y::after {
    bottom: 0;
    content: "";
    background: linear-gradient(transparent, var(--background-color));
    display: block;
    position: absolute;
    height: 5em;
    width: 100%;
    z-index: 10;
  }
  .overflow-y:target::after {
    display: none;
  }

.overflow-y:target {
  height: auto;
  background: transparent;
}
.overflow-y:target + .overflow-y__button {
  display: none;
}

.preamble {
  font-size: 24px;
}

.suffix:before {
  content: "—";
  color: var(--brand-alternative-color);
  padding-left: .5em;
  padding-right: .5em;
}
.suffix, .suffix a {
  color: var(--brand-alternative-color);
}
.smaller {
  font-size: .75em;
}
.smaller.suffix {
  color: var(--brand-color);
}

.grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1241px) {
  .grid {
    grid-template-columns: 30% 30% 30%;
    max-width: 2280px;
  }
}

.markdown-image {
  margin: 1.5em 0;
}
  .markdown-image > img {
    border: 1em solid var(--brand-alternative-color);
  }
  .markdown-image > figcaption {
    color: var(--brand-color);
    font-weight: bold;
    margin-left: 1em;
  }

.measure-wide {   max-width: 38em; }
.measure {        max-width: 30em; }
.measure-narrow { max-width: 20em; }

.icon {}
  .icon--vector {
    fill: currentColor;
    margin-right: .35em;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
  }

.list--by-date {
  list-style-type: none;
  padding-left: 0;
}
  @media screen and (min-width: 769px) {
    /* Display as two columns on non-smartphone-portrait */
    .list--by-date {
      columns: auto 2;
    }
  }

  .list--by-date time {
    color: var(--text-muted-color);
  }
  @media screen and (min-width: 480px) {
    .list--by-date > li {
      display: flex;
      align-content: space-between;
      flex-flow: row nowrap;
      width: 400px;
    }
    .list--by-date a {
      flex: 0;
      white-space: nowrap;
    }
    .list--by-date time {
      flex: 1;
      text-align: right;
    }
}
.inline-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: baseline;
}
  .inline-list > li {
    margin: 0 1em 1em 0;
    white-space: nowrap;
  }

.menu--main [aria-current="page"] {
  font-weight: bold;
}
.menu--main a,
#TableOfContents {
  background-color: var(--brand-alternative-color);
  border-radius: 5px;
  padding: .5em;
  text-decoration: none !important;
}
  .menu--main a:hover,
  .menu--main a:focus {
    background-color: #e1d1af;
    color: #3f4100;
  }

.site-title + .subheading {
  font-size: .8em;
  font-weight: bold;
  margin-right: 2em;
  margin-top: -1em;
}

#TableOfContents {
  padding: .5em 1em;
}
  #TableOfContents ul li {
    margin-bottom: .5em;
  }
  @media screen and (min-width: 1025px) {
    #TableOfContents {
      float: right;
      font-size: .9em;
      margin-left: 1em;
      position: sticky;
      top: 1em;
    }
  }

  #TableOfContents a {
    color: var(--text-color);
  }

.avatar {
  border: none;
  border-radius: 50%;
  max-width: 24px;
  vertical-align: bottom;
}

.dotted-dl dt:after {
  content: "…";
}
.dotted-dl dd:before {
  content: "… ";
}
.dotted-dl dd:after {
  content: " ;";
}

.work {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
  .work.work--highlighted {
    background: rgba(250, 250, 250, .6);
    background-image: url("data:image/svg+xml;charset=utf-8;base64,{{ (resources.Get "projects.svg").Content | base64Encode }}");
    border: 3px solid var(--brand-alternative-color);
    border-radius: 2px;
    padding: 2em;
    margin: 0;
  }
  .work .work-name a,
  body > header a:link,
  body > header a:visited {
    color: var(--text-color);
    text-decoration-color: var(--brand-alternative-color);
    text-decoration-thickness: 5px;
  }
  .work .work-name a:after {
    content: "";
    display: inline-block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNzY4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02NDAgNzY4SDEyOFYyNTcuOTA1OTk5OTk5OTk5OTVMMjU2IDI1NlYxMjhIMHY3NjhoNzY4VjU3Nkg2NDBWNzY4ek0zODQgMTI4bDEyOCAxMjhMMzIwIDQ0OGwxMjggMTI4IDE5Mi0xOTIgMTI4IDEyOFYxMjhIMzg0eiIvPjwvc3ZnPg==);
    background-size: cover;
    position: absolute;
    opacity: .6;
    margin-left: 5px;
    height: 12px;
    width: 10px;
  }
  .work summary {
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: underline;
    text-decoration-color: var(--brand-alternative-color);
    vertical-align: middle;
  }
  .work .customer-name {
    color: var(--mid-gray);
    margin: 0;
  }
  .work .customer-name,
  .work .with,
  h2 + .subtitle {
    font-size: .8em;
    margin-top: 0;
  }

  .work.ongoing .summary:before,
  .work.paused .summary:before,
  .work.cancelled .summary:before,
  .work.upcoming .summary:before {
    border-radius: .2em;
    float: left;
    font-weight: bold;
    margin-right: .5em;
    padding: 0 .5em;
  }
  .work.ongoing .summary:before {
    background: #caffca;
    content: "En cours";
    color: #080;
  }
  .work.upcoming {
    color: var(--text-muted-color);
  }
  .work.upcoming .summary:before {
    background: #e0e4e9;
    content: "Bientôt";
    color: var(--mid-gray);
  }
  .work.paused,
  .work.cancelled {
    color: var(--text-muted-color);
  }
  .work.paused .summary:before,
  .work.cancelled .summary:before {
    background: #e0e4e9;
    content: "En pause";
    color: var(--mid-gray);
  }
  .work.cancelled .summary:before {
    content: "Annulé";
  }

  .work-name {
    margin-top: .1em;
    position: relative;
  }
    .work:not(.card) .work-name:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: -1em;
      border-left: 3px solid var(--brand-alternative-color);
    }

  .work .summary {
    font-size: .8em;
    margin-top: -.2em;
  }
  .work .summary p {
    margin: 0;
  }
.key-value {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 1em;
}
.key-value dt {
}
  .key-value dt:not(.key--only)::after {
    content: ":";
    padding: 0 .2em;
  }
.key-value dd {
  margin: 0;
}
  .key-value dd:not(.key--only):not(:last-child)::after {
    content: "•";
    padding-right: .4em;
  }
.key-value .key--only {
  flex: 1 0 100%;
}
