name: Deploy to production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.82.1'
          extended: true
      - name: Build
        run: hugo --minify
      - name: Setup SSH
        uses: shimataro/ssh-key-action@v2.3.1
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      - run: |
          rsync -avzr --delete --exclude 'node_modules' --exclude '.git*' ./public/ oncletom@ssh-oncletom.alwaysdata.net:/home/oncletom/www_detour_studio
